
    <div class="col-md-4 offset-md-2">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" name="fullName" [(ngModel)]="employee.fullName" placeholder="Nombre Completo" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="descripcion"  [(ngModel)]="employee.descripcion" placeholder="Rol" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="url" name="image" [(ngModel)]="employee.image" placeholder="Image" class="form-control">
                    </div>
                    <button class="btn btn-success btn-block" (click)="edit ? updateEmployee() : saveNewEmployee()">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-body text-center">
            <img class="card-img-top" [src]="employee.image == '' ? '/assets/img.png': employee.image">
            <h3>{{employee.id}}. {{employee.fullName == '' ? 'Nombre de Empleado': employee.fullName}}</h3>
            <p>{{employee.descripcion == '' ? 'Rol a cargo': employee.descripcion}}</p>
            <p>{{employee.created_at | date: 'yyyy-MM-dd'}}</p>
        </div>
    </div>
