<div class="col-md-4" *ngFor="let item of employees">

    <div class="card text-center">
        <div class="bg-dark text-white card-header d-flex justify-content-between align-items-center">
           {{item.fullName}}
           <button class="btn btn-danger" (click)="deleteEmployee(item.id)">
                <i class="far fa-trash-alt"></i>
           </button>
        </div>
        <img [src]="item.image" style="width: 100px; margin: auto; padding-top: 20px;" class="card-img-top" >
        <div class="card-body">
            <p>{{item.descripcion}}</p>
            <p>Created At {{item.created_at | date: 'yyyy-MM-dd'}}</p>
            <a [routerLink]="['/employees/edit', item.id]" class="btn btn-info btn-block">
                Editar
            </a>
        </div>
    </div>
</div>
